label {
    color: red;
    margin-left: 10px;
    margin-top: 10px;
}

.rm {
    color: rgb(154, 154, 154)
}

.lg-reset {
    color: rgb(0, 116, 239);
}

/* .mini-box{
    width:10px;
    height:10px;
} */
.lb {

    color: rgb(96, 96, 97)
}

.lb a {
    color: #1B85F3;
    margin-left: 5px;

}

a {
    color: #1B85F3;
    margin-left: 5px;
}

.cb {
    width: 5px;


}

