.rm {
    color: rgb(154, 154, 154)
}

.lg-reset {
    color: rgb(0, 116, 239);
}

.lb {

    color: rgb(96, 96, 97)
}

.lb a {
    color: #1B85F3;
    margin-left: 5px;

}

a {
    color: #1B85F3;
    margin-left: 5px;
}

.cb {
    width: 5px;


}


p {
    margin-block-start: 0;
    margin-block-end: 0;
}

@media only screen and (max-width: 768px) {
    
}